.app {
	.content-wrapper {
		.component-wrapper {
			width: 97vw;
			margin-bottom: 10px;
			border-bottom: 1px solid gray;

			h1 {
				font-size: 1em;
			}

			button {
				margin: 5px;
			}

			.inc-wrapper {
				h1 {
					margin: 5px;
					padding: 0px;
					font-size: 1.4em;
				}
			}
		}
	}
}
