.app {
	.content-wrapper {
		.component-wrapper {
			width: 97vw;
			margin-bottom: 10px;
			border-bottom: 1px solid gray;

			h1 {
				font-size: 1em;
			}

			button {
				margin: 5px;
			}

			.hide-wrapper {
				height: 57px;
				display: grid;
				grid-template-rows: 30px 27px;
				grid-template-columns: 1fr 20fr;

				.hide-btn {
					grid-column-start: 1;
					grid-column-end: 2;
					grid-row-start: 2;
					grid-row-end: -1;
				}

				h1 {
					font-size: 0.9em;
				}
			}

			.clock-wrapper {
				height: 65px;
				display: grid;
				grid-template-columns: 1fr 10fr;
				grid-template-rows: 1.2fr 1fr;

				.current-time {
					height: 30px;
					margin: 0px;
				}

				.toggle-btn {
					grid-column-start: 1;
					grid-column-end: 2;
					grid-row-start: 2;
					grid-row-end: -1;
				}
			}

			.inc-wrapper {
				h1 {
					margin: 5px;
					padding: 0px;
					font-size: 1.4em;
				}
			}
		}
	}
}
